body {
    margin: 0 auto;
}

.hundred {
    width: 100%;
}

.h120 {
    height: 120px;
}

.bg-pink {
    background-color: #FFC0C7;
}

.logo {
    width: 300px;
}

.logo-img {
    height: 112px;
    width: auto;
    padding: 4px;
    border-radius: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.page-width {
    width: 1300px;
    margin: 0 auto;
}

.menus {
    width: 990px;
}

.menus ul li {
    display: inline;
    padding-right: 30px;
}

.menus ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
    opacity: 0.7;
}

.page-contents {
    min-height: 400px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.footer {
    height: 60px;
    margin-top: 30px;
}

.footer ul li {
    display: inline;
    padding-right: 15px;
}

.footer ul li a {
   color: #FFF;
   text-decoration: none;
   font-size: 20px;
   /* background-color: #000;
   padding-left:8px;
   padding-right:8px; */
}

.footer-menus {
    height: 60px;
    width:100%;
    /* margin-top: 5px; */
}

.footer ul li a:hover {
	height: 30px;
	transform: skew(135deg);
	background-color: #555;
    display: inline-block;
    padding: 0px 8px;
}

.fancy-heading {
    color: white;
    font-size: 52px;    
    text-shadow: 1px 2px 16px #976f73, 0 0 52px #ffc0c7, 0 0 5px #b10101;
}

.para {
    font-size: 18px;
    text-align: justify;
}

.item {
    font-size: 18px;
    font-weight: bold;
}

#why_us li {
    padding-top: 15px;
}

#why_us {
    list-style: square inside url('images/square.png');
} 
    
.mission_vision_picture {
    min-height: 300px;
    width: 550px;
    overflow: hidden;
    padding:5px;
}

.mission_vision_para {
    height: 300px;
    width: 690px;
    padding:5px;
}

.shade {
    margin-left: 5px;
    box-shadow: 0px 0px 11px 5px #ffc0c7;
    margin-bottom: 5px;
    border-radius: 4px;
    margin-right:5px;
}

.mh1 {
    min-height: 300px;
    overflow: hidden;
    padding-top:5px;
}

.drop_us_a_line {
    width: 620px;
    min-height: 400px;
    margin: 10px;
    overflow: hidden; 
      
}

.contact_details{
    width: 620px;
    min-height: 400px;
    margin: 10px;
    overflow: hidden; 
    padding: 5px;
}

.drop_us_a_line input {
    display:block;
    width: 312px;
    padding-right:15px;
    border-radius: 25px;
    color: #b7b9c4;
    background-color: #f4f5f8;
    padding: 15px;
    
}
.drop_us_a_line textarea{
    border-radius: 15px;
    padding: 15px;
}
.underline{
    text-decoration: underline;
}
.h6{
        font-size: 18px;
        line-height: 1.8;
        
        
}
.border-left{
    border-left: 4px solid #ffc0c7;
}
.margin_0_auto{
    margin: 0px auto;
}


.mh2 {
    min-height: 240px;
    overflow: hidden;
    padding-top:5px;
}
.gallery_image{
    width: 400px;
    margin-left: 23px;

}

.courses_image{
    width: 400px;
    margin-right: 23px;

}
.gallery_image_margin{
 margin-top: 10px;
}
.courses_image_margin{
 margin-top: 10px;
}
.courses_para {
    text-align: center;
    font-size: 18px;
}
.courses_padd{
    padding-left: 120px;
}
.anchor-tag_h6_text-decoration{
   text-decoration: none;
    color: black;
     font-size: 18px;
      padding-left: 10px;

}

.fa_facebook{
    font-size:18px; 
    color:blue;
}
.fa_marker_map{
    font-size:18px; 
    color:#aa3300;
}
.fa_at{
    font-size:18px; 
    color:blue; 
}
.fa_fax{
    font-size:18px; color:black;

.padding-left{
    padding-left: 108px;
}
